<footer>
<section>
<div class="container">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
     <div id="wufoo-z4ss2740clzyn0">
Fill out my <a href="https://iciwebs.wufoo.com/forms/z4ss2740clzyn0">online form</a>.
</div>
<script type="text/javascript">var z4ss2740clzyn0;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'iciwebs',
'formHash':'z4ss2740clzyn0',
'autoResize':true,
'height':'718',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z4ss2740clzyn0 = new WufooForm();z4ss2740clzyn0.initialize(options);z4ss2740clzyn0.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

    </div>
  </div>
</section
</footer>