<footer>
<section id="contact">
<div class="container">
  <h3>Work with Us</h3>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item"><blockquote class="blockquote ">"The service that ICI provides is an exceptional one. " </blockquote> <em>-Martin, General Manager, Applebee's</em></li>

        <li class="list-group-item"><blockquote class="blockquote">"We would not be able to keep up our high volume of work if it were not for these skilled workers."</blockquote> <em>-Jim O'Neill, Mailroom Supervisor, Boston Children’s Hospital</em></li>
        
        <li class="list-group-item"><blockquote class="blockquote">“The workers that (the ICI Employment Services) team have provided have been excellent and it’s been a great partnership. There have been several employees who have been hired through VPNE and they are working not only in valet but in my areas and they are doing great.”</blockquote> <em>-Brian Becquart, Logistics & Distribution Manager, Boston Children’s Hospital</em></li>
        
        <li class="list-group-item"><blockquote class="blockquote">“My experience working with ICI job coaches has been wonderful so far (they have) been great…really being hands-on on site, making sure (the employee) is comfortable here and has the tools she needs to do her job.”</blockquote> <em>-Michael Reilly, General Manager, Sodexo at UMass Boston</em></li>
      </ul>
    </div>
    <div class="col">
     <div id="wufoo-z4ss2740clzyn0">
Fill out my <a href="https://iciwebs.wufoo.com/forms/z4ss2740clzyn0">online form</a>.
</div>
<script type="text/javascript">var z4ss2740clzyn0;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'iciwebs',
'formHash':'z4ss2740clzyn0',
'autoResize':true,
'height':'718',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z4ss2740clzyn0 = new WufooForm();z4ss2740clzyn0.initialize(options);z4ss2740clzyn0.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

    </div>
  </div>
</section
</footer>