/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
  position: relative;
}


nav.bg-dark {background-color: #187095 !important;}
nav.bg-dark  ul li a {color:white !important;}

.jumbotron h1  {color: #187095;}
.jumbotron-blue{ background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(214,230,234,1) 75%); }
.bluey {color: #187095;}


.smiles {max-width: 150px; }


main {padding-top: 5em;}
.frontin {padding-top:5em;}

.padding-left {padding-left: 2em;}
.padding-right {padding-right: 2em;}

.bg-blue { background-color:#F1F6F8;}
section {padding-top: 5em; padding-bottom: 5em;}




#wep {background-color: #E6EFFC;}
#isp {background-color: #FCF5E2;}
#staff {background-color: #F6EEEE;}


.card {
    box-shadow: 2px 10px 8px -6px grey;}

h1 {font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; border-bottom:1px solid slategray; padding:.5em; margin-bottom: .5em;}
h2 {color:#333; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; border-bottom: solid 1px lightgray;}

.ici_orange {color: #F16725;}
.ici_green {color: #5E9732;}
.ici_purple {color: #5D2A78;}
.ici_red {color:#B22E26;}